/* *******************Challenge******************** */

.bg {
  height: 80rem;
  background-repeat: no-repeat;
  background-size: cover;
  /* left: -5rem; */
}
.challenge {
  font-family: roboto;
  justify-content: center;
  align-items: center;
  padding: 8rem 10rem 0rem 55rem;
}
.contentbox {
  display: flex;
  padding-top: 2rem;
}

.imgsettings1 {
  top: -8rem;
  /* bottom: -10rem; */
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.text1 {
  top: -16rem;
  position: relative;
}
.dietplansize {
  height: 300;
  width: 300;
}
.imgsettings {
  top: -2rem;
  /* bottom: -10rem; */
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.text {
  top: -6rem;
  position: relative;
}

@media screen and (max-width: 400px) {
  .bg {
    height: 100vh;
  }
  .challenge {
    padding: 35rem 2rem 0rem 2rem;
    /* padding-top: 0rem; */
  }
  .h2 {
    font-size: 3rem;
    padding-top: 0%;
  }
  .contentbox {
    display: flex;
    flex-direction: column;
  }
  .h3 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 585px) {
}

@media screen and (max-width: 750px) {
}

@media screen and (min-width: 1350px) {
}
