/* *****************KITS img CARD************************************* */

.imgsize1 {
  object-fit: cover;
  height: 36rem;
  width: 36rem;
  border-radius: 8px;
}
.container1 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-width: 36rem;
  min-width: 36rem;
  height: auto;
  border-radius: 8px;
  transition: transform 0.5s;
  background-color: antiquewhite;
}
/* .container1:hover {
    transform: scale(1.05);
    border: 1px solid #3d3d6b;
    } */